.result-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.result-wrapper .subtitle {
    font-weight: 500;
}

.result-btn {
    color: var(--content-color);
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 2.8rem;
}

.result-btn:hover {
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1400px) {
    .result-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .result-wrapper {
        width: 100%;
    }
}