.rule-container {
    margin-top: 5rem;
}

.rule {
    font-size: 2rem;
    color: var(--content-color);
    margin-top: 2rem;
    font-weight: 500;
}

.rule-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.take-quiz-rule {
    margin-top: 5rem;
    font-size: 2.2rem;
    color: var(--content-color);
    cursor: pointer;
}

.take-quiz-rule:hover {
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

.action-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5rem;
}
